body {
  font-family: 'Cinzel', serif;
}
.vote {
  float: left;
}

.poem-title {
  float: left;
  padding-top: 1%;
  margin-left: 10px;
}

.poem-content {
  clear:both;
  font-size: 1em;
  margin: 5% 10% 5% 10%;
}

.upvote {}

.downvote {}

.vote-count {
  font-size: 2em;
  text-align: center;
}

.comment-vote-count {
  font-size: 1em;
  text-align: center;
}

.comments {
  list-style-type: none;
}

.comments li {
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 70px;
  border: 1px solid gray;
}

.lower-nav {
  clear: both;
  text-align: center;
}

.comment-form {
  clear: both;
}

.poem-form {
}

.poem-form-inputs {
}

.navbar {
  background-color: black;
}

.pen {
  width: 170px;
}

.create-bar {
  margin-top: 2%;
  margin-left: 1%;
  box-shadow: 2px 10px 30px 5px #888888;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3.5%;
  padding-right: .5%;
}

.slam {
  margin-top: 2%;
  margin-left: 2%;

}

.comment-link {
  margin-top: 20px;
  padding-left: 5%;
  float: left;
}

