body {
  font-family: times;
}
.vote {
  float: left;
}

.poem-title {
  float: left;
  padding-top: 1%;
  margin-left: 10px;
}

.poem-content {
  clear:both;
  font-size: 1.5em;
  padding-bottom: 2%;
  padding-top: 2%;
  border-bottom: 1px solid gray;
}

.poems {
  font-family: 'Cinzel', serif;
  font-size: 1em;

}

.upvote {}

.downvote {}

.vote-count {
  font-size: 2em;
  text-align: center;
}

.small-vote-count {
  font-size: 1em;
}

.poem-list-link {
  font-size: .5em;
}

.small-poem {
  float: left;
}

.comment-vote-count {
  font-size: 1em;
  text-align: center;
}

.comments {
  list-style: none;
  margin-bottom: 5%;
  padding: 0;
}


.comments li {
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 70px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.lower-nav {
  clear: both;
  text-align: center;
  margin: 5%;
}

h1 {
  font-family: 'Cinzel', serif;
}

.lower-nav img {
  margin-left: 2%;
  margin-right: 2%;
}

.comment-form {
  clear: both;
  margin-top: 2%;
  margin-bottom: 2%;

}

.poem-form {
}

.poem-form-inputs {
}

.navbar {
  background-color: black;
  font-family: 'Cinzel', serif;
}

.pen {
  width: 170px;
}

.create-bar {
  margin-top: 2%;
  margin-left: 1%;
  box-shadow: 2px 10px 30px 5px #888888;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3.5%;
  padding-right: .5%;
}

.slam {
  margin-top: 2%;
  margin-left: 2%;

}

.comment-link {
  margin-top: 20px;
  padding-left: 5%;
  float: left;
}

.comment-info {
  margin-top: 2%;
  padding: 2%;
  box-shadow: 2px 10px 30px 5px #888888;

}

.poem-header {
    box-shadow: 2px 10px 30px 5px #888888;
    border: 1px solid pink;

}